.itemCart {
    display: flex;
    margin-left: 10px;
    width: 80%;
    background-color: #f5e0fc ;
    justify-content: space-around;
    margin-bottom: 5px;
}

.itemCart h3 {
    margin-top: 30px;
}

.itemCart img {
    width: 75px;
    height: auto;
}

.productResume {
    margin-left: 30px;
}

.productResume h2 {
    align-self: left;
}

.detail  {
    margin-top: -30px;
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.detail p {
    margin-right: 10px;
    font-size: 12px;

}

.mainButton2 {
    background-color: #410255;
    color: white;
    border-style: none;
    width: 135px;
    height: 30px;
    font-weight: 700;
    margin-top: 30px;

}
